<%- include('../partials/head') %>
<%- include('../partials/header', { classifications, isAuth, accountData }) %>


<main>
    <%- messages() %>

    <section>
        <form action="/account/register" method="POST">
            <% if (errors) { %>
            <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <%  }) %>
            </ul>
            <% } %>
            <div>
                <label for="firstname">First Name</label>
                <input required type="text" id="firstname" name="firstname">
            </div>
            <div>
                <label for="lastname">Last Name</label>
                <input required type="text" id="lastname" name="lastname">
            </div>
            <div>
                <label for="email">Email</label>
                <input required type="text" id="email" name="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input required type="password" id="password" name="password">
            </div>
            <button type="submit">Register</button>
        </form>
    </section>
  </div>
</main>


<script>
    // Simple front-end validation feedback
    const form = document.querySelector('form');
    form.addEventListener('submit', e => {
        const password = document.getElementById('password');
        const pattern = /^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]).{12,}$/;

        if (!pattern.test(password.value)) {
        e.preventDefault();
        alert("Password must be at least 12 characters long, contain one uppercase letter, one number, and one special character.");
        password.focus();
        }
    });
</script>

<%- include('../partials/footer') %>
